---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.megaphone {
  width: 32px;
  height: 24px;
  display: inline-block;
  fill: currentColor;
  padding-right: 8px;
  vertical-align: text-bottom;
}

.user-img {
  position: absolute;
  top: 20%;
  left: 64px;
}
