---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.megaphone {
  width: 32px;
  height: 24px;
  display: inline-block;
  fill: currentColor;
  padding-right: 8px;
  vertical-align: text-bottom;
}

@media screen  and (max-width: 768px) {
  .user-profile-content {
    position: unset;
  }
}

.user-profile-content {
  position: absolute;
  top: 20%;
  left: 64px;
}

.profile {
  justify-items: center;
  display: inline-grid;
}

.avatar {
  width: 200px;
  height: 200px;
}
