<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div style="
          position: absolute;
          background: #999;
          top: 20%;
          left: 64px;"
        >
          <div style="
            position: absolute;
            justify-items: center;
            display: inline-grid;"
          >
            <div style="
              width: 200px;
              height: 200px;
              background: #999;"
            >
              <img class="avatar rounded-2" src="https://avatars0.githubusercontent.com/u/15340641?s=400&amp;u=5a449eedb97e4e3a70d0eeada7333b9ee99fb891&amp;v=4" width="200" height="200" alt="@Farn">
            </div>
            <span>Find a restaurant now @Farn.app</span>
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
