<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div style="
          position: absolute;
          background: #999;
          top: 20%;
          left: 64px;"
        >
          <div style="
            position: absolute;
            justify-items: center;
            display: inline-grid;"
          >
            <div style="
              width: 64px;
              height: 64px;
              background: #999;"
            > </div>
            <span>头像</span>
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
